// SITE

$site-width:  1400px;
$site-gutter: 5%;

// BREAKPOINTS

$tablet:  768px;
$desktop: 1024px;
$large: 1200px;
$xlarge: 1400px;
$xxlarge: 1600px;

// FONTS

$sans: "Work Sans", Helvetica, Arial, sans-serif;
// $serif: ;

$h1-font-size: 4.8rem;
$h2-font-size: 4.2rem;

// COLORS
$black: #4D4D4D;
$primary-light: #33F3D6;
$primary-dark: #29C6B2;
$logo-light-green: #71f1d6;
$logo-dark-green: #60d5b9;
$white: #fff;
$grey: #fbfbfb;
$dark-grey: #666;
$grey-border: #dadada;
