/*
 * Define the footer styles.
 */

.footer {
  padding: 4em 0 6em;

  @include min($tablet) {
    padding: 6em 0 6em
  }

  .secondary-header {
    flex: 1 1 100%;
    display: inline-block;

    @include min($tablet) {
      flex: 0 0 auto;
    }
  }

  .hero__link {
    display: block;
    padding: 15px 0;
    font-size: 3rem;
    font-weight: 300;

    @include min($tablet) {
      display: inline-block;
      padding: 0 0 0 15px;
      font-size: $h2-font-size;
    }
  }
}

.social-list {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

.social-list__item {
  display: block;
  margin: 0 0 10px 0;
  list-style: none;

  @include min($tablet) {
    display: inline-block;
    margin: 0 30px 0 0;
  }
}

.social-list__item-link {
  transition: color 250ms ease;

  &:hover,
  &:focus,
  &:active {
    color: $primary-light;
  }
}
