/*
 * Define the hero styles.
 */

.hero__title {
  position: relative;
  max-width: 840px;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  letter-spacing: -0.5px;
  line-height: 1.7;
  font-size: 3rem;
  font-weight: 300;

  @include min($tablet) {
    margin-top: 1.25em;
    margin-bottom: 2.5em;
    line-height: 68px;
    font-size: $h1-font-size;
  }
}

.hero__link {
  color: $primary-light;
  transition: color 250ms ease;

  &:hover,
  &:focus,
  &:active {
    color: $black;
  }
}

.hero__link--second {
  color: $primary-dark;
  transition: color 250ms ease;

  &:hover,
  &:focus,
  &:active {
    color: $black;
  }
}

.hero__employer {
  margin-bottom: 2em;

  @include min($tablet) {
    flex: 1 1 0;
    margin-bottom: 0;
  }

  svg {
    height: auto;
    width: 200px;
    transition: all 200ms ease-in-out;

    &:hover {
      transform: translateY(-2px);
      opacity: 0.9;
    }
  }
}

.employer__label {
  margin-bottom: 1em;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
}
