
.project {
  padding-bottom: 8em;
}

.project-hero {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 300px;
  // background: linear-gradient(90deg, $primary-text, $primary-dark);
}

.hero-header {
  margin-top: auto;
  max-width: 640px;
}

.project-label {
  margin-bottom: 1em;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
}

.project-title {
  letter-spacing: -0.5px;
  line-height: 68px;
  font-size: 3.8rem;
  font-weight: 300;
}

.project-intro {
  margin-top: 8em;
  padding: 8em 0;
  background: $grey;
}

.lede-content {
  margin: auto;
  max-width: 640px;
  font-size: 2.4rem;
  letter-spacing: -0.5px;
}

.lede {
  // letter-spacing: -0.5px;
}

.lede-list {
  margin-top: 1.5em;
  margin-left: 1em;
  font-size: 2.2rem;
}

.lede-list__item {
  margin-bottom: 1em;
  line-height: 1.6;
}
