/*
 * Work 
 */

.featured-work-container {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 100%;
  padding-bottom: 4em;

  @include min($tablet) {
    padding-bottom: 8em;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.work-link {
  display: inline-block;
  padding: 15px;
  flex: 0 0 100%;

  &.work-link--50 {
    flex: 1 1 100%;

    @include min($tablet) {
      flex: 0 0 50%;      
    }
  }
}

.work-link-wrapper {
  transition: all 200ms ease;
  transform: translateY(0);
  background: transparent;
  box-shadow: 0 0 0 rgba($black, 0);

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 14px rgba($black, 0.1);
  }
}

.work-link-image {
  display: block;
  width: 100%;
  height: auto;
}

.work-link-content {
  position: relative;
  z-index: 10;
  border-radius: 4px;
  width: 100%;
  background: $white;
  padding: 25px;
}

.link-content__header {
  text-align: center;
  margin-bottom: 0;
  color: $black;
  letter-spacing: 0;
  line-height: 1.2;
  font-size: 1.8rem;
  font-weight: 400;
  transition: color 300ms ease;

  @include min($tablet) {
    font-size: 2.4rem;      
  }
}

.work {
  margin-top: 2em;
  padding: 4em 0 4em;
  background: $grey;

  @include min($tablet) {
    margin-top: 4em;
    padding: 8em 0 8em;
  }
}

.secondary-header {
  display: flex;
  flex: 1 1 100%;
  margin-bottom: 0.5em;
  letter-spacing: -1px;
  font-size: 3rem;
  font-weight: 400;

  @include min($tablet) {
    font-size: $h2-font-size;
  }

  &.header--white {
    color: $white;
  }
}

.work__list {
  width: 100%;
  margin: 0;
  padding: 0 5px;
}

.work__list-item {
  transform: translateY(0);
  display: block;
  padding: 18px 5% 20px;
  border-bottom: 1px solid $grey-border;
  box-shadow: 0 0 0 rgba($black, 0.16);
  background: linear-gradient($grey, $grey);
  transition: all 300ms ease;
  list-style: none;

  .work__list-item--first {
    border-top: 1px solid $grey-border;
  }

  &:hover,
  &:active,
  &:focus {
    transform: translateY(-3px);
    border-color: transparent;
    box-shadow: 0 1px 6px rgba($black, 0.16);
    background: linear-gradient(90deg, $primary-light, #3bdcc4, $primary-light);
    color: $white;

    .work-title,
    .work-detail {
      color: $white;
    }
  }
}

.work__list-item-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.work-title {
  flex: 3 1 100%;
  margin-bottom: 0;
  color: $primary-text;
  letter-spacing: 0;
  line-height: 1.2;
  font-size: 2.6rem;
  font-weight: 400;
  transition: color 300ms ease;
}

.work-detail {
  color: $dark-grey;
  font-size: 1.6rem;
  font-weight: 400;
  transition: color 300ms ease;
}

.work-role {
  flex: 3 1 100%;

  @include min($tablet) {
    flex: 1 1 60%;
  }
}

.work-company {
  flex: 1 1 100%;

  @include min($tablet) {
    flex: 1 1 20%;
  }
}

.work-date {
  flex: 1 1 100%;

  @include min($tablet) {
    flex: 1 1 20%;
    align-self: flex-end;
    text-align: right;
  }
}
